@inherits LayoutComponentBase

@using MLBHistoricalDatabase.Components

<PageTitle>MLB Historical Database</PageTitle>

<div class="page">
    <Sidebar />
    <main>
        @Body
    </main>
</div>



